.blaze-nav .text-color, 
.wide-blaze-nav .text-color {
    color: #FF8400;
    margin-left: 5px;
}
.border {
    border-bottom: transparent;
    padding-bottom: 0;
}
.info-box-margin {
    margin: 42px 0;
}
.user-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    padding: 29px 20px;
    width: 100%;
    column-gap: 68px;
}
.user-inputs__container {
    width: 1200px;
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 68px;
}
.label {
    font-family: "Muli-Regular";
    font-size: 16px;
    color: #000000;
    display: flex;
    max-width: 245px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.user-inputs__input {
    width: 962px;
    height: 43px;
    border: 1px solid #C2C2C2;
    background-color: #FFFFFF;
    padding: 10px 27px 9px;
    font-family: "Muli-Regular";
    font-size: 16px;
    color: #000000;
    flex: 0 1 auto;
}

.delivery-fee__text,
.delivery-fee__price {
    font-family: "Muli-SemiBold";
}

.latitude-input {
    width: 820px;
}
.latitude-input,
.longitude-input {
    background-color: #EDF1F2;
    cursor: not-allowed;
}
.view-map-btn {
    margin-top: 10px;
}
.invalid {
    border: 1px solid red;
}
.valid {
    border: 1px solid #004C8A;
}
.view-map-btn {
    font-family: "Muli-Regular";
    font-size: 16px;
    color: #004C8A;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.address-label {
    align-self: flex-start;
    margin-top: 20px;
}
.address-input {
    height: 115px;
    outline: none;
    resize: none;
}
.edit-form {
    width: 100%;
}
.checkbox-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.active-inactive__checkbox {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 72px;
    margin-left: 112px;
}
.active-inactive-label,
.active-inactive-input {
    cursor: pointer;
}
.active-inactive-label {
    margin-top: 0;
}
.active-inactive-input {
    width: 24px;
    height: 24px;
}
.submit-store {
    width: 123px;
    height: 47px;
    background-color: rgba(255, 132, 0, 0.8);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.1s linear;
}
.submit-store:hover {
    background-color: rgb(255, 132, 0);
}
.submit-store:active {
    transform: scale(0.9);
}
.submit-store:disabled,
.submit-store:disabled:hover,
.submit-store:disabled:active {
    background-color: rgba(255, 132, 0, 0.4);
    color: rgba(0, 0, 0, 0.6);
    cursor: default;
}

/* Chrome, Safari, Edge, Opera  
    style for input type=number
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* styles for category page */
.user-inputs__title {
    font-family: "Muli-Regular";
    font-size: 16px;
    color: #000000;
    cursor: default;
    margin-top: 10px;
}
.explanation-text {
    width: 843px;
    border: none;
    margin: 10px 0; 
}
.tumbnail {
    width: 140px;
    height: 140px;
    margin-top: 53px;
    border: none;
}
.tumbnail > img,
.banner > img {
    width: 100%;
}
.banner {
    width: 673px;
    height: 333px;
    margin-top: 9px;
    border: none;
}
.upload-file-button {
    width: 53px;
    height: 48px;
    cursor: pointer;
}
.upload-file-button > img {
    width: 100%;
}
.error-message {
    margin: 3px;
    color: red;
    font-family: "Muli-Regular";
    font-size: 16px;
}
.product-error {
    margin-top: 15px;
    margin-left: -5px;
}

/* styles for add tax page */
.save-tax-btn-container {
    width: 1200px;
    display: flex;
    justify-content: flex-end;
}

/* styles for add discount page */
.categories-box {
    width: 962px;
    height: 43px;
    border: 1px solid #C2C2C2;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    column-gap: 7px;
    align-items: center;
    padding: 10px 7px 9px;
    position: relative;
}
.categories-box.valid,
.products-box.valid {
    border: 1px solid #004C8A;
}
.products-box.invalid {
    border: 1px solid red;
}

.products-box {
    width: 962px;
    height: 43px;
    border: 1px solid #C2C2C2;
    background-color: #FFFFFF;
    padding: 10px 7px 9px;
    position: relative;
}
.products-and-input-container {
    display: flex;
    justify-content: flex-start;
    column-gap: 7px;
    width: 100%;
    align-items: center;
}

.categories-input {
    border: none;
    padding: 0;
    height: initial;
    display: inline-block;
}
.categories-dropdown-box {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 43px;
    left: 0;
    border: 1px solid #D1D1D1;
    z-index: 20;
    background-color: #FFFFFF;
    padding: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.categories-dropdown-box ul li {
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
    padding: 0 7px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Muli-SemiBold";
    color: #3A3F50;
}
.categories-dropdown-box ul li:hover {
    background-color: #3A3F50;
    color: #FFFFFF;
    transition: 0.2s linear;
}

.selected-categories-box {
    min-width: 150px;
    height: 25px;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    column-gap: 12px;
    border: 1px solid #D1D1D1;
    cursor: default;
}
.selected-category-name {
    font-size: 14px;
    font-family: "Muli-SemiBold";
    color: #3A3F50;
}
.remove-sel-category-icon {
    font-size: 14px;
    font-family: "Muli-SemiBold";
    font-weight: 600;
    color: #3A3F50;
    cursor: pointer;
}

.no-matches-found-box {
    min-width: 100px;
    height: 25px;
}
.no-matches-found-message {
    font-size: 14px;
    font-family: "Muli-SemiBold";
    color: #3A3F50;
}