.file-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.2);
}
.file-modal,
.banner-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center;
    width: 450px;
    height: 388px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 5px;
    z-index: 20;
    padding: 20px;
}
.file-modal__closer {
    font-size: 35px;
    font-family: "Muli-Bold";
    position: absolute;
    top: 0;
    right: 20px;
    color: #6B6B6B;
    cursor: pointer;
}
.tumbnail-area,
.banner-area {
    width: 150px;
    height: 150px;
    border: 4px solid #C2C2C2;
    background-color:azure;
    border-radius: 5px;
    margin: 44px auto 10px;
    cursor: move;
    overflow: hidden;
}
.banner-area > img,
.tumbnail-area > img {
    width: 100%;
}
input[type="file"] {
    display: none;
}
.file-modal > label,
.message-text {
    font-family: "Muli-Regular";
    font-size: 20px;
    color: #6B6B6B;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}
.submit-image-button {
    width: 123px;
    height: 47px;
    background-color: #FF8400;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    bottom: 35px;
    right: 20px;
}
.banner-modal {
    width: 1068px;
    height: 684px;
}
.banner-area {
    width: 1014px;
    height: 502px;
}

/* STYLES FOR MESSAGE MODAL */
.message-modal {
    width: 704px;
    height: 388px;

}
.text-area {
    resize: none;
    outline: none;
    cursor: text;
    width: 641px;
    height: 207px;
    background-color: #FFFFFF;
    border: 1px solid #C2C2C2;
    padding: 11px 12px;
    font-family: "Muli-Regular";
    font-size: 16px;
    margin-left: 10px;
}
.message-label {
    font-size: 20px;
    color: #6B6B6B;
    display: block;
    margin-bottom: 27px;
    margin-left: 20px;
}
.submit-image-button {
    background-color: rgba(255, 132, 0, 0.8);
    transition: all 0.1s linear;
}
.submit-image-button:hover {
    background-color: rgb(255, 132, 0);
}
.submit-image-button:active {
    transform: scale(0.9);
}
.submit-image-button:disabled,
.submit-image-button:disabled:hover,
.submit-image-button:disabled:active {
    background-color: rgba(255, 132, 0, 0.4);
    color: rgba(0, 0, 0, 0.6);
    cursor: default;
}


/* styles for driver info modal */
.driver-info-modal-box {
    width: 676px;
    height: 535px;
}
.driver-profile-and-info-box {
    display: flex;
    column-gap: 52px;
    padding: 33px 11px 20px;
}
.driver-profile {
    width: 154px;
    height: 154px;
    overflow: hidden;
    border: 1px solid #707070;
    border-radius: 10px;
}
.driver-profile > img {
    width: 100%;
}
.driver-info > h2 {
    font-size: 25px;
    color: #004C8A;
    margin-bottom: 22px;
}
.driver-info ul li {
    list-style: none;
    display: flex;
    column-gap: 14px;
    margin-bottom: 12px;
}
.driver-info ul li > p {
    font-size: 16px;
    color: #004C8A;
    letter-spacing: 0px;
    padding-top: 2px;
}
.driver-info ul li > p > span {
    margin-right: 5px;
}
.driver-info ul li > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.driver-info ul li > i::before {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.phone-icon::before {
    content: url('../assets/icons/modal/phone-icon.png');
    width: 16px;
    height: 16px;
}
.address-icon::before {
    content: url('../assets/icons/modal/map-pin-icon.png');
    width: 16px;
    height: 20px;
}
.work-timing-icon::before {
    content: url('../assets/icons/modal/clock-icon.png');
    width: 18px;
    height: 18px;
}
.salary-amt-icon::before {
    content: url('../assets/icons/modal/dollar-sign-icon.png');
    width: 10px;
    height: 18px;
}
.bank-account-detail-icon::before {
    content: url('../assets/icons/modal/credit-card-icon.png');
    width: 18px;
    height: 14px;
}
.driver-license-image-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.driver-license-image-box > div {
    width: 190px;
    height: 123px;
    border-radius: 10px;
    overflow: hidden;
}
.driver-license-image-box > div > img {
    width: 100%;
    box-shadow: 0px 0px 6px #00000029;
}
.accept-reject-butns-box {
    margin-top: 33px;
    display: flex;
    column-gap: 8px;
}
.accept-reject-butns-box > button {
    width: 123px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.1s linear;
}
.accept-reject-butns-box > button:hover {
    transform: scale(0.9);
}
.accept-butn {
    background-color: #FF8400;
}
.reject-butn {
    background-color: #8E8E8E;
}

/* styles for product modal */
.product-info-box {
    width: 704px;
    height: 332px;
}
.product-info > h2 {
    font-family: "Muli-SemiBold";
    font-size: 25px;
    color: #000000;
    margin-bottom: 14px;
}
.price-title {
    font-family: "Muli-SemiBold";
    font-size: 18px;
    color: #FF8400;
}
.product-price {
    color: #000000;
}
.product-description-box {
    padding: 0 11px;
}
.product-description {
    font-family: "Muli-Regular";
    font-size: 16px;
    color: #000000;
}

/* styles for google-map modal */
.select-pos-title {
    font-family: "Muli-Bold";
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
}
.map-area {
    margin: 10px auto;
}

/* styles for deleting modal */
.delete-item-container {
    width: 342px;
    height: 230px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 20px;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-item-box {
    width: 242px;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.delete-item-title {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    color: #181A1A;
    text-transform: capitalize;
}
.delete-cancel-butns-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.delete-cancel-butns-box > button {
    cursor: pointer;
    width: 115px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF8400;
    background-color: #FFFFFF;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    transition: all 0.2s linear;
}
.delete-cancel-butns-box > button:hover,
.delete-cancel-butns-box > button:active,
.delete-cancel-butns-box > button:focus {
    background-color: #FF8400;
    color: #FFFFFF;
}
/* .deleting-btn,
.cancelling-btn:hover,
.cancelling-btn:active,
.cancelling-btn:focus {
    color: #028383;;
} */
/* .cancelling-btn,
.deleting-btn:hover,
.deleting-btn:active,
.deleting-btn:focus {
    background-color: #028383;
    color: #FFFFFF;
} */