.sidebar {
    /* flex: 1 1 240px; */
    padding-left: 255px;
    padding-top: 74px;
    display: flex;
}

.card {
    /* width: 250px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem; */
    top: 75px;
    left: 256px;
    width: 325px;
    height: 1000px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    overflow: auto;
}

.contact {
    padding: 15px;
    border: 1px solid #e4eef1;
    position: relative;
}

.item-cnt {
    display: flex;
    justify-content: space-between;
}

.msg-time {
    color: #b5bbbd;
    /* padding-top: 10px; */
    padding-right: 15px;
    font-size: 10px;
}

.last-msg {
    color: #b5bbbd;
    /* padding-top: 10px; */
    padding-right: 15px;
    font-size: 12px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
}

.sidebar .card-body {
    max-height: 1000px;
    overflow-y: scroll;
}

.sidebar .card {
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sidebar .card-header p,
.main .card-header p {
    margin-top: 15px;
    margin-left: 10px;
}

.sidebar .card .card-body {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar .card-body .contact a {
    height: 50px;
    /*border: 1px solid #17a2b8*/
}

.sidebar .card-body .contact .contact-btn {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #333;
}

.sidebar .card-body .contact .contact-btn div {
    flex: 1
}

.sidebar .card-body .contact .contact-btn div:nth-child(2) {
    flex: 4;
    flex-shrink: 6;
}

/* .sidebar .card-body .contact .contact-btn:hover, .active {
    background: #eee;
} */

/* .chat {
    width: 100%; 
    max-width: 1571px;
    height: 1000px;
} */
.time {
    padding-top: 10px;
    font-size: 14px;
}

textarea {
    top: 808px;
    left: 559px;
    height: 165px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    border: none;
    padding: 20px;
}

textarea::placeholder {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    color: #9E9C9C;
}

.Blaze_container__3xbTH .sidebar .chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.chat .friend {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    margin: 10px;
    display: flex;
}

.chat-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.me p, .friend p {
    word-break: break-all;
}

.chat .me {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    background: #004C8A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    color: white;
    margin: 10px;
    display: flex;
}

.myMessage, .message {
    display: flex;
    width: 100%;
}

.myMessage {
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
}

.messages-container {
    height: 815px;
    overflow: auto;
}

.messages-container textarea {
    resize: none;
}

.msg-button {
    width: 123px;
    height: 47px;
    /* position: absolute; */
    margin-top: 45px;
    right: 50px;
    transform: translateY(-50%);
    background-color: rgba(0,76,138);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;
}
.msg-button:hover {
    background-color: rgba(0,76,200);
}
.msg-button {
    text-decoration: none;
    outline: none;
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #FFFFFF;
}

.btn-box {
    display: flex;
    justify-content: right;
}