/* styles for nav */
.blaze-nav,
.wide-blaze-nav {
    margin: 0 52px 0 286px;
    padding: 85px 0 19px;
    border-bottom: 1px solid #BFBFBF;
    transition: margin 0.1s linear;
    display: flex;
    align-items: center;
}

.wide-blaze-nav {
    margin: 0 52px 0 106px;
    transition: margin 0.2s linear;
}

.blaze-nav > a,
.wide-blaze-nav > a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.blaze-nav p,
.wide-blaze-nav p {
    font-family: "Muli-SemiBold";
    font-size: 25px;
    color: #3A3F50;
}

/* styles for main */
.blaze-main {
    margin: 0 52px 0 286px;
    flex: 1 1 auto;
    transition: margin 0.1s linear;
}

.wide {
    margin: 0 52px 0 106px;
    transition: margin 0.2s linear;
}

.filtering {
    padding: 27px 10px;
    border-bottom: 1px solid #BFBFBF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtering > label {
    display: flex;
    align-items: center;
    /*margin-right: 28px;*/
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #3A3F50;
}

.filtering > label > input {
    width: 303px;
    height: 47px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 12px 12px 11px;
    font-size: 16px;
    color: #3A3F50;
    margin-left: 22px;
}

.title {
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #3A3F50;
    margin-left: 45px;
}

.cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    flex-wrap: wrap;
    padding: 55px 0 44px;
}

.cards-container > div {
    width: 378px;
    height: 138px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 33px;
    overflow: hidden;
}

.info {
    font-family: "Muli-SemiBold";
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.money {
    font-family: "Muli-SemiBold";
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.image {
    width: 130px;
    height: 138px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    background-color: #5E9EE9;
}

.card-1__image {
    background-color: #3083E3;
}

.card-1__text,
.card-2__text,
.card-3__text,
.card-4__text,
.card-5__text,
.card-8__text {
    padding: 19px;
}

.card-2 {
    background-color: #7168B7;
}

.card-2__image {
    background-color: #554DA0;
}

.card-3 {
    background-color: #3DBC9C;
}

.card-3__image {
    background-color: #2F957B;
}

.card-4 {
    background-color: #5E9EE9;
}

.card-4__image {
    background-color: #3083E3;
}

.card-5 {
    background-color: #2AB8E3;
}

.card-5__image {
    background-color: #3083E3;
}

.card-8 {
    background-color: #5E9EE9;
}

.card-8__image {
    background-color: #3083E3;
}

.card-6 {
    background-color: #FFFFFF;
}

.card-6__info {
    background-color: #3DBC9C;
    flex-direction: column;
    width: 191px;
    height: 138px;
}

.order {
    font-family: "Muli-SemiBold";
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.price {
    font-family: "Muli-SemiBold";
    font-size: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.black {
    font-family: "Muli-SemiBold";
    font-size: 25px;
    color: #000000;
    text-transform: uppercase;
}

.cancel {
    font-family: "Muli-SemiBold";
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.card-7 {
    background-color: #FE8E3A;
}

.card-7__info {
    background-color: white;
    flex-direction: column;
    width: 191px;
    height: 138px;
}

.card-6__text,
.card-7__text {
    padding: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 67px 36px 37px;
    box-shadow: 0px 3px 6px #0000000F;
    background-color: #FFFFFF;
}

.list > p {
    font-size: 16px;
    color: #000000;
}

.stores-dropdown, .status-dropdown {
    display: flex;
    align-items: center;
}

.stores-dropdown .title, .status-dropdown .title {
    margin-left: 0;
    margin-top: 0;
}

.status-dropdown {
    margin-left: 10px;
    width: 390px;
}

.status-dropdown .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18px;
    transform: translateX(32px);
}

.chat_categories {
    display: flex;
    justify-content: start;
    align-items: left;
    margin: 15px 15px 25px 0px;
}

.category_item {
    color: #004C8A;
    font: normal normal 600 16px/24px Muli;
    padding: 15px;
}

.category_item_checked {
    color: #004C8A;
    font: normal normal 600 16px/24px Muli;
    background: #CBDEEE 0% 0% no-repeat padding-box;
    padding: 15px;
    border-bottom: 4px solid #FF8400;
}

.customers-info-table {
    width: 100%;
    border-collapse: collapse;
}
.customers-info-table th, td {
    padding: 0 35px;
}
.customers-info-table thead tr {
    text-align: left;
    color: #000000;
    font-family: "Muli-Regular";
    font-size: 16px;
}
.customers-info-box {
    background-color: #FFFFFF;
}
.margin-top {
    margin-top: 42px;
}
.customers-info-box > div {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.customers-info-table th, 
.customers-info-table td {
    padding-bottom: 30px;
}
.customers-info-table thead tr,
.customers-info-table tbody tr:not(:last-child),
.customers-info-table tbody .last-tr-border:last-child {
    border-bottom: 1px solid #BFBFBF;
}
.customers-info-table th {
    padding-top: 25px;
     
}
.customers-info-table td {
    padding-top: 30px;
      
}
.customers-info-table tbody tr {
    font-family: "Muli-Regular";
    color: #000000;
    font-size: 15px;
}
.customers-info-table thead tr th:last-child {
    text-align: left;
}

.customers-info-table tbody tr td:last-child {
    text-align: left;
}

tr .group-td-boxes {
    width: 150px;
}
thead tr .text-align {
    padding-left: 60px;
}
.customers-info-table thead tr .last-box {
    width: 150px;
}
.customers-info-table thead tr .send-message-box {
    text-align: left;
}
thead tr .order-td-box {
    padding-left: 0;
}

.chat-button {
    width: 120px;
    height: 30px;
    padding: 10px;
    position: absolute;
    /* margin-top: 45px; */
    /* right: 50px; */
    transform: translateY(-50%);
    background-color: rgba(255, 132, 0, 0.8);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;
}
.chat-button:hover {
    background-color: rgb(255, 132, 0);
}
.chat-button {
    text-decoration: none;
    outline: none;
    font-family: "Muli-SemiBold";
    font-size: 16px;
    color: #FFFFFF;
}
