body {
  background-color: #F5F7FA;
  font-family: "Muli-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, 
::before, 
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

